@import url('http://fonts.cdnfonts.com/css/common-pixel');

body {
  background-color: greenyellow !important;
  font-family: 'Common Pixel', sans-serif;
}
main {
  margin-top: 5rem !important;
}
table,
td {
  margin: 0;
  padding: 0;
}

.card.gameCard {
  aspect-ratio: 1 / 1;
}

table#game {
  width: 100%;
  height: 100%;
  background-color: green;
  border-spacing: 0;
}
table.leaderboard {
  width: 100%;
  color: green;
}
table.leaderboard th {
  font-size: larger;
}
table.leaderboard,
table.leaderboard th,
table.leaderboard td {
  border: 3px solid green;
}
h1.gameOver {
  font-family: 'Common Pixel', sans-serif;
  color: greenyellow;
  text-align: center;
  font-size: 1000%;
}
div.gameOverContainer {
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

#addScoreForm {
  display: none;
}
.crt {
  background-color: greenyellow;
}

.bg-green {
  background-color: rgb(19, 92, 19) !important;
}

.textGreenYellow {
  color: greenyellow !important;
}

a.textGreenYellow:hover {
  color: rgb(100, 161, 9) !important;
}
